@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --body-bg: #1B2330;
    --a-color: white;
    --h-color: white;
    --p-color: white;
    --section-a-color: #62E0D9;
    --article-box-bg: #202A3C;
    --footer-bg: #0B1524;
    --input-bg: white;
    --placeholder-color: #C0C0C0;
    --sign-up-bg:#1B2330;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--body-bg);
    font-family: "Raleway", sans-serif;
    background-image: url(./assets/cont-bg-mob.svg);
    background-position: center 280px;
    background-repeat: no-repeat;
    background-size: 100%;



}

.cont {
    
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 24px 48px 24px;
}

img,
picture,
picture img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

header {
    width: 100%;
    height: auto;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.header-nav ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

a {
    text-decoration: none;
    display: block;
    color: var(--a-color);
    text-align: left;
}

ul {
    list-style-type: none;
}

.header-nav ul a {
    font-size: 12px;
    line-height: 120%;
}

.header-img {
    margin: 0 auto;
    margin-bottom: 72px;
}

.header-txt {
    text-align: center;
    display: grid;
    gap: 24px;



}

h1,
h2,
h3 ,h6{
    color: var(--h-color);
    font-size: 20px;
    line-height: 120%;
    font-weight: 700;

}

p {

    font-size: 14px;
    line-height: 21px;
    font-family: "Open Sans", sans-serif;
    color: var(--p-color);
    font-weight: 400;
    text-align: center;


}

h1+p {
    margin: 0 15px;
    line-height: 150%;

}

button[type=submit] {
    width: 240px;
    height: 48px;
    border: none;
    border-radius: 28px;
    margin: 0 auto;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 15.5px 81px;
    background: linear-gradient(90deg, #63E1D9, #34A0CD);
}

button {

    cursor: pointer;
}

main {
    margin-top: 140px;
    display: grid;
    gap: 80px;
    width: 100%;
}

.mainbox {
    width: 100%;
    height: auto;
    display: grid;
    gap: 24px;
    place-items: center;
    text-align: center;

}

.mainbox-txt {
    display: grid;
    gap: 8px;
}

.mainbox p {
    margin: 0 5px;
}

section {
    margin-top: 160px;
    display: grid;
    place-items: center;
    gap: 48px;
    width: 100%;

}

.section-txt {
    display: grid;
    gap: 16px;
    padding-left: 5px;

}

h3 {
    font-size: 16px;


}

.section-txt p {
    text-align: left;
    font-weight: 400;


}

section a {
    color: var(--section-a-color);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
    display: flex;
    gap: 8px;

}

article {
    margin-top: 150px;
    width: 100%;
    height: auto;
    display: grid;
    gap: 24px;
    width: 280px;
    margin-bottom: 328px;
}

.article-box {
    background-color: var(--article-box-bg);
    width: 100%;
    height: auto;
    padding: 24px;
    border-radius: 4px;

}

.article-logo {
    position: relative;
    top: -40px;
    left: -20px;

}

.article-logo-tabdes {
    display: none;
}

article p {
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: 180%;
    text-align: left;
}

.stuff {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.stuff p {
    font-weight: 800;
}

small {
    display: block;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 7px;
    line-height: 150%;
    letter-spacing: 0.5px;
}
footer{
    width: 100%;
    height: 974px;
    background-color: var(--footer-bg);
    position: relative;
 
}
.sign-up{
    background-color: var(--sign-up-bg);
    width: 348px;
    height: auto;
    border-radius: 9px;
    position: absolute;
    left: 50%;
  transform: translateX(-50%);
top: -190px; 
padding: 38.5px 24px;
display: grid;
gap: 32px;

}
.sign-up-txt{
display: flex;
flex-direction: column;
gap: 16px;
   text-align: center;
   position: relative;
  
}
.form{
    display: grid;
    gap: 24px;
    margin: 0 auto;
    margin-top: 32px;
    position: relative;
    
}
input{
    width: 280px;
    height: 48px;
    background-color: var(--input-bg);
    border-radius: 28px;
    border: none;
    padding: 0 32px;
    outline: none;
 
}
input::placeholder{
font-size: 14px;
color: var(--placeholder-color);
text-align: center;
}
.form button{
    width: 280px;
       padding: 16px 72px;

}
.footer-box{
    position: absolute; 
    bottom: 40px; 
    left: 50%;
     transform: translateX(-50%);
    width: 319px;
    height: 666px;
display: flex;
flex-direction: column;
gap: 48px;
}

.footer-box1{
    display: grid;
    gap: 40px;
}
.mob-mail{
    display: grid;
    gap: 16px;
    margin-top: 16px;
}
.footer-box1-info a{
   display:flex;
   flex-direction: row;
   gap: 16px;
}
.footer-nav{
    width: 85px;
    height: 288px;
    margin-top: 56px;
}
address{
    width: 103px;
    height: auto;
    display: flex;
    align-items: center;
    gap:  11px;
    margin-left: 108px;
}
.last-div{
    width: auto;
    height: auto;
    display: grid;
    gap: 48px;

    
}
.about,.blog,.terms{
    display: grid;
    gap: 16px;
}
.terms,.blog{
    margin-top: 16px;
}
.facebook{
    width: 20px;
}
#empty{
    display: none;
    color: red;
}
#error{
    display: none;
    color: red;
}
#empty.show-empty{
    display: block;
}
#error.show-error{
    display: block;
}